
main {
    display: flex;
}

.big-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-title {
    font-size: 3rem;
    white-space: nowrap;
}

.main-container {
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.bio-container span {
    font-family: Eurostile, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    width: 15rem;
}

.bio-container {
    background-color: rgba(32, 32, 32, 0.9);
    width: fit-content;
    display: flex;
    text-align: start;
    line-height: 1.7rem;
    font-size: 1.1rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

.bio-container .col span{
    width: fit-content;
}

.bio-container p {
    margin: 0;
    width: 8rem;
}

.time-line-item {
    position: relative;
}

.time-line {
    position: absolute;
    font-style: italic;
    color: gray;
    left: 100%;
    bottom: 0;
    white-space: nowrap;
}

.picture-placeholder {
    margin-left: 1rem;
}

.picture-placeholder-sm {
    text-align: center;
}

.info-container {
    order: 1;
    background-color: rgba(32, 32, 32, 0.9);
    width: fit-content;
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.1rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

@media (max-width: 600px) {
    
    .info-container {
        background-color: rgba(32, 32, 32, 0.9);
        display: block;
        width: 20rem;
        text-align: center;
        line-height: 1.7rem;
        font-size: 1.1rem;
        padding: 2rem;
        border-radius: 1.5rem;
    }

    .main-container {
        padding-top: 16rem;
        display: flex;
        flex-direction: column;
        width: 20rem;
    }

    .big-title {
        font-size: 2.7rem;
    }
}

.info {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    font-family: Eurostile, sans-serif;
}

.languages-list {
    margin-left: 1rem;
}

.languages-list li{
    font-family: Eurostile, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.interests {
    width: fit-content;
}

.interests li {
    text-wrap: nowrap;
}

.interests p {
    text-wrap: nowrap;
}

.sub-interest-container {
    padding-left: 1rem;
}

.interest-collection {
    margin-top: 2.5rem;
}

.sports-list li {
    font-family: Eurostile, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    width: fit-content;
}

.sports-list .time-line {
    left: 2.9rem;
}

.bio-container a {
    color: rgb(207, 207, 195);
    font-family: Eurostile, sans-serif;
    font-weight: 600;
}

#certificate-container {
    width: 35rem;
}

.certificate-bg {
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin-right: 10px;
}

.certificate-img {
    width: 15rem;
    height: 10rem;
    border-radius: 5px;
}

.programming-languages-list {
    /*  */
}

.programming-languages-list ul {
    margin-left: 2rem;
    margin-top: 1.7rem;
}

.programming-languages-list ul li{
    font-family: Eurostile, sans-serif;
    margin-bottom: 1rem;
}

.projects-wrapper {
    background-color: rgba(32, 32, 32, 0.9);
    border-radius: 10px;
    padding: 2rem;
}

.projects-wrapper h1 {
    font-size: 1.8rem;
    font-family: Eurostile, sans-serif;
    font-weight: 700;
}

.project-thumbnail {
    width: 10rem;
    height: 6rem;
}

.project-thumbnail-zoom {
    position: absolute;
    width: 28rem;
    height: 18rem;
    bottom: 30%;
    left: 5%;
    transform: scale(0);
    transition: transform ease 150ms;
    pointer-events: none;
}

@media (min-width: 600px) {
   
    .project-thumbnail-zoom {
        position: absolute;
        width: 28rem;
        height: 18rem;
        bottom: 30%;
        left: 35%;
        transform: scale(0);
        transition: transform ease 150ms;
    }
}

.project-image-wrapper:hover .project-thumbnail-zoom {
    transform: scale(1);
}

#projects .row {
    margin-top: 2rem;
}

.project-container {
    width: 2rem;
    margin-right: 2rem;
}

#projects-link {
    text-decoration: none;
}

#projects-link:hover {
    text-decoration: underline;
}


.learn-more-button {
    background-color: rgb(180, 109, 15);
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem .75rem;
    cursor: pointer;
    transition: background-color 50ms, color 50ms, transform 50ms;
}

.learn-more-button:hover {
    border: 0.125rem solid rgb(180, 109, 15);
    background-color: rgb(207, 207, 195);
    color: rgb(180, 109, 15);
    padding: .125rem .655rem;
    transform: scale(1.15);
}

.learn-more-button:active {
    color: rgb(216, 216, 199);
    background-color: rgb(180, 109, 15);
    padding: 0.25rem .75rem;
    border: none;
    transform: scale(1.1);
    transition: backgroundcolor 0s;
}
