
main {
    display: flex;
}

.big-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-title {
    font-size: 3rem;
    white-space: nowrap;
}

.main-container {
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.bio-container span {
    font-family: 'Eurostile Extended', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    width: 15rem;
}

.bio-container {
    background-color: rgba(32, 32, 32, 0.9);
    width: fit-content;
    display: flex;
    text-align: start;
    line-height: 1.7rem;
    font-size: 1.1rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

.bio-container .col span{
    width: fit-content;
}

.bio-container p {
    margin: 0;
    width: 8rem;
}

.time-line-item {
    position: relative;
}

.time-line {
    position: absolute;
    font-style: italic;
    color: gray;
    left: 100%;
    bottom: 0;
    white-space: nowrap;
}

.picture-placeholder {
    margin-left: 1rem;
}

.picture-placeholder-sm {
    text-align: center;
}

.info-container {
    order: 1;
    background-color: rgba(32, 32, 32, 0.9);
    width: fit-content;
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.1rem;
    padding: 2rem;
    border-radius: 1.5rem;
}

@media (max-width: 600px) {
    
    .info-container {
        background-color: rgba(32, 32, 32, 0.9);
        display: block;
        width: 20rem;
        text-align: center;
        line-height: 1.7rem;
        font-size: 1.1rem;
        padding: 2rem;
        border-radius: 1.5rem;
    }

    .main-container {
        padding-top: 16rem;
        display: flex;
        flex-direction: column;
        width: 20rem;
    }

    .big-title {
        font-size: 2.7rem;
    }
}

.info {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    font-family: 'Eurostile Extended', sans-serif;
}

.learn-more-button {
    background-color: rgb(180, 109, 15);
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem .75rem;
    cursor: pointer;
    transition: background-color 50ms, color 50ms, transform 50ms;
}

.learn-more-button:hover {
    border: 0.125rem solid rgb(180, 109, 15);
    background-color: rgb(207, 207, 195);
    color: rgb(180, 109, 15);
    padding: .125rem .655rem;
    transform: scale(1.15);
}

.learn-more-button:active {
    color: rgb(216, 216, 199);
    background-color: rgb(180, 109, 15);
    padding: 0.25rem .75rem;
    border: none;
    transform: scale(1.1);
    transition: backgroundcolor 0s;
}
